body {
    font-family: 'Raleway', sans-serif;
}

#image-bg {
    background-image: url("images/donation8.jpg");
    padding: 90px;
}

.header-sec,
.donate-sec {
    text-align: center;
    margin-bottom: 120px;
}

.header-sec h1 {
    font-size: 70px;
    font-weight: 900;
    color: white;
}

.header-sec p {
    font-weight: 100;
    color: white;
}

.donate-link {
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
}

.text-part h1 {
    font-size: 30px;
    font-weight: bolder;

}

.money-amount {
    display: flex;
    justify-content: center;
}

.amount-box {
    font-size: 30px;
    font-weight: 900;
    text-align: justify;
    color: gray;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgba(239, 232, 232, 0.745);
    padding: 10px;
    width: 90px;
    height: 60px;
}

#select-part {
    color: rgb(244, 9, 9);
    border: 5px solid rgb(222, 25, 25);
    background-color: rgb(240, 152, 152);
}

.donate-today-part {
    color: rgb(168, 158, 158);
}

.text-part {
    text-align: center;
    margin: 60px;
}

.plan-part {
    display: flex;
    justify-content: center;
}

#food {
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    background-color: rgba(180, 140, 218, 0.305);
}

#shelter {
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    background-color: rgb(244, 208, 208);
}

#education {
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    background-color: rgb(221, 240, 191);
}

.footer {
    padding-top: 15px;
    text-align: center;
    height: 130px;
    color: white;
    background-color: black;
}

.footer h3 {
    color: rgb(122, 188, 255);
    font-family: fantasy;
}